.galeria-container {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 5px var(--vino);
  background: linear-gradient(45deg, #1b1b1b, #2e2b2b);
}

.galeria-titulo{
  font-family: "Sinera", serif;
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.galeria-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.galeria-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.galeria-item img:hover {
  transform: scale(1.1);
}

.download-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.download-btn:hover {
  background: rgba(255, 255, 255, 0.9);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.lightbox button {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.lightbox button:hover {
  transform: scale(1.2);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.close {
  top: 10px;
  right: 10px;
}
